{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

    <title>Proposal</title>

    <!-- Custom Fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Pacifico|Dancing+Script|Chewy' rel='stylesheet' type='text/css'>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/Proposal.min.css' %}" media="screen" charset="utf-8" />

    <!-- modernizr-2.8.3.min.js -->
    <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>

</head>

<body class="impress-not-supported">

    <div id="impress">
        <div class="step slide" data-x="-1050" data-y="-1500">
            <p>Hey <b>Listen</b></q>
                <br>
                <br>
                <br>
                <img src="{% static 'img/listen.png' %}" alt="" />
                <br>
                <br>
                <br>
                <br>
                <br>
                <span id="nav-hint" style="rgba(153, 153, 153, 0.70);font-size:0.4em;text-align:center;">
                    Use a spacebar or arrow keys to navigate.
                    <br>
                    Best Viewed In Chrome on Large Screen.
                </span>
        </div>

        <div class="step slide" data-x="0" data-y="-1500">
            <p>I just wanted to say this to you.</q>
                <br>
                <br>
                <br>
                <p>
                    <strong>
                        Since a long time.
                    </strong>
                </p>
                <br>
                <br>
                <img src="{% static 'img/calendar.png' %}" alt="" />
        </div>

        <div class="step slide" data-x="1050" data-y="-1500">
            <p>But wasn't able to <strong>say</strong> to you.</q>
                <img src="{% static 'img/confuse.png' %}" alt="" />
        </div>

        <div class="step" data-x="200" data-y="200" data-scale="4">
            <span class="try">So I decided to </span>
            <h1>make this<sup>*</sup></h1>
            <span class="footnote"><sup>*</sup> for you.</span>
        </div>

        <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
            <p>After collecting all <strong>courage </strong>I have.
                <br/> I hope you will <strong>like it</strong>.</p>
        </div>

        <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
            <p>Today is <b>14</b> <span class="thoughts">February.</span></p>
        </div>

        <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
            <b>Valentine Day.</b>
            <br>
            <img style="z-index:100" src="{% static 'img/14-Feb.png' %}" alt="" />
            <br>
        </div>

        <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
            <p>So this my <b class="positioning">way</b>, of <b class="rotating">praposing</b> you.
                <br><b class="scaling">Here</b> it goes.</p>
        </div>

        <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
            <p>I have a huge <b> crush </b> on <b class="imagination">you.</b></p>
            <img style="align:center;height:300px;width:300px;" src="{% static 'img/crush.png' %}" alt="" />
            <p>Will you be my <b> valentine</b> <b class="imagination">????</b></p>
        </div>

        <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
            <p>one more thing...</p>
        </div>

        <div id="its-in-3d" class="step" data-x="0" data-y="0" data-z="-90000" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
            <div class="flipbook-viewport">
                <div class="container">
                    <div class="flipbook">
                        <div class="hard" style="background:rgb(255, 255, 255);">
                            <br>
                            <br>
                            <h1 style="font-family: 'Chewy', cursive;color:rgb(22, 173, 91); text-align:center;">Open This Card</h1>
                            <br>
                            <h4 style="font-family: 'Indie Flower', cursive;color:rgb(240, 97, 26);text-align:center">I have something for you.</h4>
                        </div>
                        <div class="hard" style="background-image:url({% static 'pages/2.jpg' %});"></div>
                        <div class="hard" style="border: 15px solid rgb(20, 167, 222);text-align:center;padding:30px;font-family: 'Indie Flower', cursive; font-size:0.44em;">
                            <br>
                            <br>
                            <br>खुद से बेखबर हुए हैं न जाने क्यों ।
                            <br>जब से लगी है खबर तुम्हारी यों ।
                            <br>पल पल ये जहाँ अब हमें चिढ़ाता है ।
                            <br>हर लम्हा याद तुम्हारी हमें दिलाता है ।
                            <br>अक्सर ये सवाल खुद से करते रह जाते हैं ।
                            <br>भला हम तुम्हे इतना क्यों चाहते हैं ।
                            <br>हमेशा ही ये सवाल निरुत्तर ही रह जाते हैं ।
                            <br>तुम्हारी तस्वीर को देख कर हम ।
                            <br>अक्सर मन ही मन मुस्कुराते हैं ।
                            <br>कहना तो बहुत कुछ चाहते हैं हम तुमसे ।
                            <br>पर इतनी हिम्मत नहीं जुटा पाते हैं |
                        </div>
                        <div class="hard" style="background-image:url({% static 'pages/3.jpg' %})"></div>
                        <div class="hard" style="background-image:url({% static 'pages/1.jpg' %})"></div>
                        <div class="hard" style="background-image:url({% static 'pages/6.jpg' %})"></div>
                    </div>
                </div>

            </div>

        </div>
        <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
        </div>
    </div>



    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- impress.js -->
    <script src="{% static 'js/impress.js' %}"></script>

    <script>
        if ("ontouchstart" in document.documentElement) {
            document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
        }
    </script>
    <script>
        impress().init();
    </script>

    <!-- turn.js -->
    <script src="{% static 'js/turn.min.js' %}"></script>
    <!--Custom js -->
    <script src="{% static 'js/Proposal.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav-hint').fadeOut(4000, function() {});
        });
    </script>

    <script type="text/javascript">
        function loadApp() {
            $('.flipbook').turn({
                width: 890,
                height: 640,
                elevation: 50,
                gradients: true,
                autoCenter: true,
                acceleration: true,
                duration: 1500,
            });
        };

        yepnope({
            test: Modernizr.csstransforms,
            yep: ["{% static 'js/turn.min.js' %}"],
            nope: ["{% static 'js/turn.html4.min.js' %}"],
            both: ["{% static 'css/Proposal.min.css' %}"],
            complete: loadApp
        });
    </script>

</body>
</html>
